.length-button-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.length-item {
  margin: 0px 5px 20px 5px;
  padding: 5px 10px 5px 10px;
}
.icon-arrow {
  font-size: 25px;
}
