* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-header {
  background-color: cornsilk;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

#TimerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: aqua; */
  width: 900px;
}
.TimerItem {
  padding: 10px;

  background-color: pink;
  border-radius: 10px;
}
h1 {
  margin-bottom: 100px;
  color: pink;
}
h3 {
  /* background-color: green; */
  margin: 15px;
}
h2 {
  padding: 10px;
}
#time-left {
  font-size: 60px;
}
#display-container {
  background-color: pink;
  padding: 0;
  height: 200px;
  width: 400px;
  padding: 10px;
  margin: 0px 0px 100px 0px;
  border-radius: 20px;
}

#start_stop,
#reset {
  margin: 10px;
  padding: 0px;
  font-size: 25px;
  width: 50px;
}
